@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552652232076'); /* IE9 */
  src: url('iconfont.eot?t=1552652232076#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABkAAAAJCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMbQE2AiQDCAsGAAQgBYRtBy4bkQURBczJPhJyU5qPAB9RXdGEqjETD/8/V96X/JlNkwKS6llZQtIEdtTUyTrShAqA5J5czjlwMeqFKsmeb92AfJJ+Cvz9kWOndzOOhZyQM+Ca+gn0IKsDmktEUGRgJODApgPswtHINpOJbxi74AU+JlAaabpYuHjlRoXEXhWIk8eO7FMUQpLEsoXQbDiYxFUNRdbKbqMdfT++mhEFmUbOrlt7eNFBcz+sdvLyK/XBzoAQJqDjDeSYjkRsbEytlgvG5cpUMpZjVQcfRnUdOMVRbYL9dXZldzAcyp9J4SkftTIDKZkcjFGTZpENivNbKyVsKcPRVfC67dW2HVXno9k/2veWdLX1kvr77u9diQT+wL1f7fR9623riLmgvpWvymcLBGdPvbmxp9fM/0WVwPP7tUcUqG8lwzwUu3IHv0QxcCAZKtuRJU3R6MkMnrQyQ6lEDfv6ejHVPOD8uVAYcBeeDiMy5ArjycROR0OlE02FOShNs+R4ReuHDEXqhqmuAKG3GzI9XUeuty+Z2B8aBvqjqXcMUdoc/S6sTIxULCCUjBGoPaS6rozrYhFXzzBeF5Lyqoi3QurSKLiWU86GWCEtsaXbxB6zAUN1CQF4DouihobqDDVbCXPj27ZpepOl67InLECQxFAEKHsgpdUqJhjPROXzMyi2VpCoo6UuvoJIJ50euCzOADLUV4NaHuWVzkbMw5gBDFIrgQDMQ4VCDTTN8zJIY5ZkQqLhs51RZqje2t5Y/kAZ68C2ZOE059LZtax6PQ==') format('woff2'),
  url('iconfont.woff?t=1552652232076') format('woff'),
  url('iconfont.ttf?t=1552652232076') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552652232076#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuan:before {
  content: "\e64e";
}

